<footer id="footer" class="main-content-wrap">
    <i class="fa fa-creative-commons" aria-hidden="true"></i> مطالب این بلاگ تحت مجوز <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a> منتشر می‌شود!
</footer>
